    body {
        font-family: 'Cairo', sans-serif;
        color: #4d4643;
    }
    
    body {
        font-size: 22px;
        line-height: 32px;
        color: #1d0964;
        margin: 0;
        padding: 0;
        word-wrap: break-word !important;
        font-family: 'Cairo', sans-serif;
    }
    
    h1 {
        font-size: 60px;
        text-align: center;
    }
    
    h3 {
        font-size: 30px;
        line-height: 34px;
        text-align: center;
    }
    
    h3 a {
        color: rgb(11, 17, 199);
    }
    
    a {
        color: #1090be;
    }
    
    h1 {
        margin-top: 100px;
        text-align: center;
        font-size: 60px;
        line-height: 70px;
        font-family: 'Cairo', sans-serif;
    }
    
    #container {
        margin: 0 auto;
        max-width: 890px;
    }
    
    p {
        text-align: center;
    }
    
    .toggle,
    [id^=drop] {
        display: none;
    }
    /* Giving a background-color to the nav container. */
    
    nav {
        margin: 0;
        padding: 0;
        background-color: white;
    }
    
    .navactive {
        background-color: #8A1A9B;
    }
    
    #logo {
        display: block;
        padding: 0 30px;
        float: left;
        font-size: 20px;
        line-height: 60px;
    }
    /* Since we'll have the "ul li" "float:left"
* we need to add a clear after the container. */
    
    nav:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Removing padding, margin and "list-style" from the "ul",
* and adding "position:reltive" */
    
    nav ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    }
    /* Positioning the navigation items inline */
    
    nav ul li {
        margin: 0px;
        display: inline-block;
        float: left;
        background-color: #00BED6;
    }
    /* Styling the links */
    
    nav a {
        display: block;
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
        text-decoration: none;
    }
    
    nav ul li ul li:hover {
        background: #899484;
    }
    /* Background color change on Hover */
    
    nav a:hover {
        background-color: #6e158f;
        color: white;
    }
    /* Hide Dropdowns by Default
* and giving it a position of absolute */
    
    nav ul ul {
        display: none;
        position: absolute;
        /* has to be the same number as the "line-height" of "nav a" */
        top: 60px;
        z-index: 999;
    }
    /* Display Dropdowns on Hover */
    
    nav ul li:hover>ul {
        display: inherit;
    }
    /* Fisrt Tier Dropdown */
    
    nav ul ul li {
        width: 170px;
        float: none;
        display: list-item;
        position: relative;
    }
    /* Second, Third and more Tiers	
* We move the 2nd and 3rd etc tier dropdowns to the left
* by the amount of the width of the first tier.
*/
    
    nav ul ul ul li {
        position: relative;
        top: -60px;
        /* has to be the same number as the "width" of "nav ul ul li" */
        left: 170px;
    }
    /* Change ' +' in order to change the Dropdown symbol */
    
    .Coming-Events .row .col:hover,
    .Previous-Events .row .col:hover {
        transform: scale(1.1, 1.1);
        cursor: pointer;
        color: #6e158f;
    }
    
    .Coming-Events .row .col,
    .Previous-Events .row .col {
        transition: all 1s ease;
    }
    
    .Previous-Events {
        background-color: #6f158f3a;
    }
    
    .Coming-Events {
        background-image: url(../img/expotale/background.jpg);
    }
    /* li>a:after {
    content: ' +';
} */
    
    li>a:only-child:after {
        content: '';
    }
    /* Media Queries
--------------------------------------------- */
    
    @media all and (max-width: 768px) {
        .logo {
            display: block;
            padding: 0;
            width: 100%;
            text-align: center;
            float: none;
        }
        nav {
            margin: 0;
        }
        /* Hide the navigation menu by default */
        /* Also hide the  */
        .toggle+a,
        .menu {
            display: none;
        }
        /* Stylinf the toggle lable */
        .toggle {
            display: block;
            background-color: #874fdb;
            padding: 14px 20px;
            color: #FFF;
            font-size: 17px;
            text-decoration: none;
            border: none;
        }
        .toggle:hover {
            background-color: #000000;
        }
        /* Display Dropdown when clicked on Parent Lable */
        [id^=drop]:checked+ul {
            display: block;
        }
        /* Change menu item's width to 100% */
        nav ul li {
            display: block;
            width: 100%;
        }
        nav ul ul .toggle,
        nav ul ul a {
            padding: 0 40px;
        }
        nav ul ul ul a {
            padding: 0 80px;
        }
        nav a:hover,
        nav ul ul ul a {
            background-color: #899484;
        }
        nav ul li ul li .toggle,
        nav ul ul a,
        nav ul ul ul a {
            padding: 14px 20px;
            color: #FFF;
            font-size: 17px;
        }
        nav ul li ul li .toggle,
        nav ul ul a {
            background-color: #49c7db;
        }
        /* Hide Dropdowns by Default */
        nav ul ul {
            float: none;
            position: static;
            color: #ffffff;
            /* has to be the same number as the "line-height" of "nav a" */
        }
        /* Hide menus on hover */
        nav ul ul li:hover>ul,
        nav ul li:hover>ul {
            display: none;
        }
        /* Fisrt Tier Dropdown */
        nav ul ul li {
            display: block;
            width: 100%;
        }
        nav ul ul ul li {
            position: static;
            /* has to be the same number as the "width" of "nav ul ul li" */
        }
    }
    
    @media all and (max-width: 330px) {
        nav ul li {
            display: block;
            width: 94%;
        }
    }
    
    a {
        text-decoration: none;
    }
    
    a:hover {
        color: #fd5c28;
        text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Cairo', sans-serif;
    }
    /* logo */
    /* //logo */
    /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
    
    .back-to-top {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        right: 15px;
        bottom: 15px;
        z-index: 996;
        background: #7508FF;
        width: 40px;
        height: 40px;
        border-radius: 4px;
        transition: all 0.4s;
    }
    
    .back-to-top i {
        font-size: 28px;
        color: #fff;
        line-height: 0;
    }
    
    .back-to-top:hover {
        background: #40CAE6;
        color: #fff;
    }
    
    .back-to-top.active {
        visibility: visible;
        opacity: 1;
    }
    /*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
    
    @media screen and (max-width: 768px) {
        [data-aos-delay] {
            transition-delay: 0 !important;
        }
    }
    /*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
    
    #topbar {
        background: white;
        padding: 0px 0;
        font-size: 14px;
        margin: 10px;
    }
    
    #topbar .contact-info i {
        font-weight: bold;
        color: black;
    }
    
    #topbar .contact-info i a,
    #topbar .contact-info i span {
        padding-left: 5px;
        color: black;
    }
    
    #topbar .contact-info i a {
        line-height: 0;
        transition: 0.3s;
    }
    
    #topbar .contact-info i a:hover {
        /* color: #40CAE6; */
        transform: scale(1.1, 1.1);
    }
    
    #topbar .social-links a {
        color: black;
        line-height: 0;
        transition: 0.3s;
        margin-left: 15px;
    }
    
    #topbar .social-links a:hover {
        color: #40CAE6;
        transform: scale(2, 2);
    }
    
    #darkmode {
        color: black !important;
        line-height: 0 !important;
        transition: 0.3s !important;
        background-color: transparent;
        margin: 0% !important;
        padding: 0% !important;
        margin-left: 15px !important;
    }
    
    #topbar .logo {
        width: 50px;
        border-radius: 20px;
    }
    
    #topbar .logo img {
        width: 92px;
        border-radius: 7px;
        margin: -10px -1px;
        position: absolute;
        margin-left: -46px;
    }
    
    .tagline {
        width: 174px;
        position: absolute;
        top: 55px;
        left: 272px;
    }
    
    .tagline img {
        width: 100%;
    }
    /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
    
    #header {
        /* height: 70px; */
        transition: all 0.5s;
        z-index: 997;
        transition: all 0.5s;
    }
    
    #header.fixed-top {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    }
    
    #header .logo img {
        padding: 0;
        margin: 0;
        max-height: 80px;
    }
    
    .scrolled-offset {
        margin-top: 70px;
    }
    /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
    
    .collapseouss {
        height: auto;
        width: 100%;
        background-color: #837272;
        background-image: radial-gradient(circle, #e3dede, #898978);
    }
    /* download file expotale */
    
    #cta {
        background-color: #343a4060;
    }
    
    .ctaoussama {
        font-family: 'Cairo', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 25px;
        border-radius: 2px;
        transition: 0.4s;
        width: 40%;
        margin: 10px 29% 42px;
        border-radius: 4px;
        border: 2px solid #40CAE6;
        color: #40CAE6;
        background: #fff;
    }
    
    .ctaoussama:hover {
        background: #40CAE6;
        color: white;
        transform: scale(1.2, 1.2);
    }
    /* download file expotale */
    /**
* Desktop Navigation 
*/
    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
    
    #hero {
        width: 100%;
        height: 70vh;
        overflow: hidden;
        position: relative;
        padding: 0;
    }
    
    #hero .carousel,
    #hero .carousel-inner,
    #hero .carousel-item,
    #hero .carousel-item::before {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    
    #hero .carousel-container {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        bottom: 60px;
        top: 110px;
        left: 50px;
        right: 50px;
    }
    
    #hero .carousel-content {
        background: rgba(28, 23, 21, 0.7);
        padding: 20px;
        width: 20%;
        color: #fff;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        border-radius: 20px;
    }
    
    #hero .carousel-content h2 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 28px;
        font-weight: 700;
    }
    
    #hero .btn-get-started {
        font-family: 'Cairo', sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 32px;
        border-radius: 4px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        border: 2px solid #7508FF;
    }
    
    #hero .btn-get-started:hover {
        background: #40CAE6;
        color: #7508FF;
        text-decoration: none;
        border: none;
    }
    
    #hero .carousel-inner .carousel-item {
        transition-property: opacity;
    }
    
    #hero .carousel-inner .carousel-item,
    #hero .carousel-inner .active.carousel-item-start,
    #hero .carousel-inner .active.carousel-item-end {
        opacity: 0;
    }
    
    #hero .carousel-inner .active,
    #hero .carousel-inner .carousel-item-next.carousel-item-start,
    #hero .carousel-inner .carousel-item-prev.carousel-item-end {
        opacity: 1;
        transition: 0.5s;
    }
    
    #hero .carousel-inner .carousel-item-next,
    #hero .carousel-inner .carousel-item-prev,
    #hero .carousel-inner .active.carousel-item-start,
    #hero .carousel-inner .active.carousel-item-end {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
    
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 10%;
    }
    
    #hero .carousel-control-next-icon,
    #hero .carousel-control-prev-icon {
        background: none;
        font-size: 48px;
        line-height: 1;
        width: auto;
        height: auto;
    }
    
    #hero .carousel-indicators li {
        cursor: pointer;
    }
    
    @media (min-width: 1024px) {
        #hero .carousel-content {
            width: 39%;
            margin: 34px 266PX -24px -429px
        }
        #hero .carousel-control-prev,
        #hero .carousel-control-next {
            width: 5%;
        }
    }
    
    @media (max-width: 992px) {
        #hero {
            height: calc(100vh - 70px);
        }
        #hero .carousel-content h2 {
            margin-bottom: 15px;
            font-size: 22px;
        }
        #hero .carousel-content p {
            font-size: 15px;
        }
        .carousel-indicators {
            display: none;
        }
        .carousel-control-next-icon,
        carousel-control-prev,
        .carousel-control-next,
        .carousel-control-prev-icon {
            display: none !important;
        }
    }
    
    @media (max-height: 500px) {
        #hero {
            height: 120vh;
        }
    }
    
    hr {
        margin: 10px auto;
        height: 30px !important;
        width: 90%;
        align-items: center;
        text-align: center;
        color: #874fdb;
    }
    
    .tagembed-container {
        margin: 1px auto !important;
    }
    /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
    
    section {
        padding: 1px 0 61px ​ 0;
        overflow: hidden;
    }
    
    .section-bg {
        background-color: #f6f3f2;
    }
    
    .section-title {
        padding-bottom: 30px;
        text-align: center;
    }
    
    .section-title h2 {
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 20px;
        padding-bottom: 0;
        color: #65534c;
    }
    
    .section-title h2 strong {
        font-weight: 700;
    }
    
    .section-title p {
        margin-bottom: 0;
    }
    /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
    
    .breadcrumbs {
        padding: 15px 0;
        background: #2b2320;
        min-height: 40px;
    }
    
    .breadcrumbs h2 {
        font-size: 28px;
        font-weight: 300;
        color: #fff;
    }
    
    .breadcrumbs ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        color: #ded5d2;
    }
    
    .breadcrumbs ol a {
        color: #40CAE6;
    }
    
    .breadcrumbs ol li+li {
        padding-left: 10px;
    }
    
    .breadcrumbs ol li+li::before {
        display: inline-block;
        padding-right: 10px;
        color: #c8bab5;
        content: "/";
    }
    
    @media (max-width: 768px) {
        .breadcrumbs .d-flex {
            display: block !important;
        }
        .breadcrumbs ol {
            display: block;
        }
        .breadcrumbs ol li {
            display: inline-block;
        }
    }
    /*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
    
    .cta {
        background: #f3f1f0;
        padding: 60px 0;
        color: #574741;
    }
    
    .cta h3 {
        font-size: 28px;
        font-weight: 700;
    }
    
    .cta h3 span {
        color: #40CAE6;
    }
    
    .cta p {
        padding: 0;
        margin: 0;
    }
    
    .cta .cta-btn {
        font-family: 'Cairo', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 25px;
        border-radius: 2px;
        transition: 0.4s;
        margin: 10px;
        border-radius: 4px;
        border: 2px solid #40CAE6;
        color: #40CAE6;
        background: #fff;
    }
    
    .cta .cta-btn:hover {
        background: #40CAE6;
        color: #7508FF;
    }
    
    @media (max-width: 1024px) {
        .cta {
            background-attachment: scroll;
        }
    }
    
    @media (min-width: 769px) {
        .cta .cta-btn-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
    
    .services {
        background-color: #40cae636;
    }
    
    .services .icon-box {
        padding: 50px 20px;
        margin-top: 35px;
        margin-bottom: 25px;
        text-align: center;
        border: 1px solid #ebe6e4;
        height: 200px;
        position: relative;
        background: #faf9f8;
    }
    
    .services .icon {
        position: absolute;
        top: -36px;
        left: calc(50% - 36px);
        transition: 0.2s;
        border-radius: 50%;
        border: 6px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 72px;
        height: 72px;
        background: #40CAE6;
    }
    
    .services .icon i {
        color: #fff;
        font-size: 24px;
        line-height: 0;
    }
    
    .services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        text-transform: uppercase;
    }
    
    .services .title a {
        color: #343a40;
    }
    
    .services .icon-box:hover .icon {
        background: #fff;
        border: 2px solid #40CAE6;
    }
    
    .services .icon-box:hover .icon i {
        color: #40CAE6;
    }
    
    .services .icon-box:hover .title a {
        color: #40CAE6;
    }
    
    .services .description {
        line-height: 24px;
        font-size: 14px;
    }
    /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
    
    .portfolio #portfolio-flters {
        padding: 0;
        margin: 0 auto 50px auto;
        list-style: none;
        text-align: center;
    }
    
    .portfolio #portfolio-flters li {
        cursor: pointer;
        display: inline-block;
        padding: 8px 20px 10px 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        color: #4d4643;
        transition: all 0.3s;
        border-radius: 50px;
    }
    
    .portfolio #portfolio-flters li:hover,
    .portfolio #portfolio-flters li.filter-active {
        color: #7508FF;
        background: #40CAE6;
    }
    
    .portfolio #portfolio-flters li:last-child {
        margin-right: 0;
    }
    
    .portfolio .portfolio-item {
        margin-bottom: 30px;
    }
    
    .portfolio .portfolio-item .portfolio-info {
        opacity: 0;
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: 0;
        z-index: 3;
        transition: all ease-in-out 0.3s;
        background: rgba(255, 255, 255, 0.9);
        padding: 15px;
    }
    
    .portfolio .portfolio-item .portfolio-info h4 {
        font-size: 18px;
        color: #fff;
        font-weight: 600;
        color: #2b2320;
    }
    
    .portfolio .portfolio-item .portfolio-info p {
        color: #65534c;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .portfolio .portfolio-item .portfolio-info .preview-link,
    .portfolio .portfolio-item .portfolio-info .details-link {
        position: absolute;
        right: 40px;
        font-size: 24px;
        top: calc(50% - 18px);
        color: #483b36;
    }
    
    .portfolio .portfolio-item .portfolio-info .preview-link:hover,
    .portfolio .portfolio-item .portfolio-info .details-link:hover {
        color: #40CAE6;
    }
    
    .portfolio .portfolio-item .portfolio-info .details-link {
        right: 10px;
    }
    
    .portfolio .portfolio-item .portfolio-links {
        opacity: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 3;
        position: absolute;
        transition: all ease-in-out 0.3s;
    }
    
    .portfolio .portfolio-item .portfolio-links a {
        color: #fff;
        margin: 0 2px;
        font-size: 28px;
        display: inline-block;
        transition: 0.3s;
    }
    
    .portfolio .portfolio-item .portfolio-links a:hover {
        color: #7508FF;
    }
    
    .portfolio .portfolio-item:hover .portfolio-info {
        opacity: 1;
        bottom: 20px;
    }
    /*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
    
    .portfolio-details {
        padding-top: 40px;
    }
    
    .portfolio-details .portfolio-details-slider img {
        width: 100%;
    }
    
    .portfolio-details .portfolio-details-slider .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }
    
    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: 1;
        border: 1px solid #40CAE6;
    }
    
    .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #40CAE6;
    }
    
    .portfolio-details .portfolio-info {
        padding: 30px;
        box-shadow: 0px 0 30px rgba(43, 35, 32, 0.08);
    }
    
    .portfolio-details .portfolio-info h3 {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }
    
    .portfolio-details .portfolio-info ul {
        list-style: none;
        padding: 0;
        font-size: 15px;
    }
    
    .portfolio-details .portfolio-info ul li+li {
        margin-top: 10px;
    }
    
    .portfolio-details .portfolio-description {
        padding-top: 30px;
    }
    
    .portfolio-details .portfolio-description h2 {
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .portfolio-details .portfolio-description p {
        padding: 0;
    }
    /*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
    
    #clients {
        margin-bottom: 40px;
        margin-top: 30px;
    }
    
    .clients .clients-wrap {
        border-top: 1px solid #f1eeed;
        border-left: 1px solid #f1eeed;
    }
    
    .clients .client-logo {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #f1eeed;
        border-bottom: 1px solid #f1eeed;
        overflow: hidden;
        background: #fff;
        height: 100px;
    }
    
    .clients .client-logo img {
        transition: all 0.3s ease-in-out;
        height: 60px;
        filter: grayscale(100%);
    }
    
    .clients .client-logo:hover img {
        filter: none;
        transform: scale(1.1);
    }
    
    .clients {
        margin-top: 30px;
    }
    /*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
    
    .about-us .content {
        padding: 30px 0;
    }
    
    .about-us .content h3 {
        font-weight: 700;
        font-size: 34px;
    }
    
    .about-us .content p {
        margin-bottom: 0;
    }
    
    .about-us .content .icon-box {
        margin-top: 25px;
    }
    
    .about-us .content .icon-box h4 {
        font-size: 20px;
        font-weight: 700;
        margin: 5px 0 10px 60px;
    }
    
    .about-us .content .icon-box i {
        font-size: 48px;
        float: left;
        color: #40CAE6;
    }
    
    .about-us .content .icon-box p {
        font-size: 15px;
        color: #90847f;
        margin-left: 60px;
    }
    
    .about-us .image {
        background: url("assets/img/expotale/team.jpeg") center center no-repeat;
        background-size: cover;
        min-height: 400px;
    }
    
    @media (max-width: 991px) {
        .about-us .image {
            text-align: center;
        }
        .about-us .image img {
            max-width: 80%;
        }
    }
    
    @media (max-width: 667px) {
        .about-us .image img {
            max-width: 100%;
        }
    }
    /*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
    
    #team {
        height: auto;
        width: 100%;
        background-color: #837272;
        background-image: radial-gradient(circle, #e3dede, #898978);
    }
    
    #team .row {
        justify-content: center;
    }
    
    #team .row div {
        justify-content: center;
    }
    
    .team .member {
        margin-bottom: 20px;
        overflow: hidden;
        text-align: center;
        border-radius: 60px;
        background: #fff;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    
    .team .member h4 {
        transition: all ease 1s;
    }
    
    .team .member h4:hover {
        font-weight: bold !important;
        cursor: pointer;
        color: #7508FF !important;
        transform: scale(1.1, 1.1) !important;
    }
    
    .team .member .member-img {
        position: relative;
        overflow: hidden;
    }
    
    .team .member .member-img img {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    
    .team .member .member-img img:hover {
        -webkit-filter: grayscale(1%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(1%);
        cursor: pointer;
    }
    
    .team .member .social {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 40px;
        opacity: 0;
        transition: ease-in-out 0.3s;
        background: rgba(255, 255, 255, 0.85);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .team .member .social a {
        transition: color 0.3s;
        color: #2b2320;
        margin: 0 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    
    .team .member .social a:hover {
        color: #40CAE6;
    }
    
    .team .member .social i {
        font-size: 18px;
        line-height: 0;
    }
    
    .team .member .member-info {
        padding: 25px 15px;
    }
    
    .team .member .member-info h4 {
        font-weight: 700;
        margin-bottom: 5px;
        font-size: 18px;
        color: #2b2320;
    }
    
    .team .member .member-info span {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: #b4aca8;
    }
    
    .team .member .member-info p {
        font-style: italic;
        font-size: 14px;
        line-height: 26px;
        color: #847872;
    }
    
    .team .member:hover .social {
        opacity: 1;
    }
    /*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
    
    .skills .progress {
        height: 50px;
        display: block;
        background: none;
    }
    
    .skills .progress .skill {
        padding: 0;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: 'Cairo', sans-serif;
        color: #2b2320;
    }
    
    .skills .progress .skill .val {
        float: right;
        font-style: normal;
    }
    
    .skills .progress-bar-wrap {
        background: #ded5d2;
    }
    
    .skills .progress-bar {
        width: 1px;
        height: 10px;
        transition: 0.9s;
        background-color: #7508FF;
    }
    /*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
    
    .features {
        padding-top: 0;
    }
    
    .features .nav-tabs {
        border: 0;
    }
    
    .features .nav-link {
        border: 0;
        padding: 25px 20px;
        transition: 0.3s;
        color: #2b2320;
    }
    
    .features .nav-link:hover {
        color: #40CAE6;
        border: 1px solid;
    }
    
    .features .nav-link h4 {
        font-size: 18px;
        font-weight: 600;
    }
    
    .features .nav-link p {
        font-size: 14px;
        margin-bottom: 0;
    }
    
    .features .nav-link.active {
        box-shadow: 0px 0 15px rgba(0, 0, 0, 0.12);
        color: #40CAE6;
    }
    
    .features .tab-pane.active {
        -webkit-animation: slide-down 0.5s ease-out;
        animation: slide-down 0.5s ease-out;
    }
    
    @-webkit-keyframes slide-down {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes slide-down {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
    
    .pricing .box {
        padding: 20px;
        background: #f3f1f0;
        text-align: center;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
    }
    
    .pricing h3 {
        font-weight: 400;
        padding: 15px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        color: #2b2320;
    }
    
    .pricing h4 {
        font-size: 42px;
        color: #40CAE6;
        font-weight: 500;
        font-family: 'Cairo', sans-serif;
        margin-bottom: 20px;
    }
    
    .pricing h4 sup {
        font-size: 20px;
        top: -15px;
        left: -3px;
    }
    
    .pricing h4 span {
        color: #bababa;
        font-size: 16px;
        font-weight: 300;
    }
    
    .pricing ul {
        padding: 0;
        list-style: none;
        color: #2b2320;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }
    
    .pricing ul li {
        padding-bottom: 16px;
    }
    
    .pricing ul .na {
        color: #ccc;
        text-decoration: line-through;
    }
    
    .pricing .btn-wrap {
        padding: 15px;
        text-align: center;
    }
    
    .pricing .btn-buy {
        color: #9c847b;
        border: 2px solid #e9e3e1;
        display: inline-block;
        padding: 10px 40px 12px 40px;
        border-radius: 4px;
        transition: none;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Cairo', sans-serif;
        font-weight: 600;
        transition: 0.3s;
    }
    
    .pricing .btn-buy:hover {
        color: #40CAE6;
        border-color: #40CAE6;
    }
    
    .pricing .featured {
        background: #40CAE6;
        box-shadow: none;
    }
    
    .pricing .featured h3,
    .pricing .featured h4,
    .pricing .featured h4 span,
    .pricing .featured ul,
    .pricing .featured ul .na {
        color: #fff;
    }
    
    .pricing .featured .btn-wrap {
        padding: 15px;
        text-align: center;
    }
    
    .pricing .featured .btn-buy {
        color: #fff;
        border-color: rgba(255, 255, 255, 0.5);
    }
    
    .pricing .featured .btn-buy:hover {
        color: #40CAE6;
        background: #fff;
        border-color: #fff;
    }
    /*--------------------------------------------------------------
# Cta Pricing
--------------------------------------------------------------*/
    
    .cta-pricing {
        background: #f3f1f0;
        color: #65534c;
    }
    
    .cta-pricing h3 {
        font-size: 28px;
        font-weight: 700;
    }
    
    .cta-pricing .cta-btn {
        font-family: 'Cairo', sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 25px;
        border-radius: 2px;
        transition: 0.4s;
        margin: 10px;
        border-radius: 4px;
        border: 2px solid #40CAE6;
        color: #40CAE6;
        background: #fff;
    }
    
    .cta-pricing .cta-btn:hover {
        background: #40CAE6;
        color: #fff;
    }
    /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
    
    .testimonials .testimonials-carousel,
    .testimonials .testimonials-slider {
        overflow: hidden;
    }
    
    .testimonials .testimonial-item {
        box-sizing: content-box;
        padding: 40px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        position: relative;
        background: #fff;
    }
    
    .testimonials .testimonial-item .testimonial-img {
        width: 90px;
        border-radius: 50px;
        border: 6px solid #fff;
        float: left;
        margin: 0 10px 0 0;
    }
    
    .testimonials .testimonial-item h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0 5px 0;
        color: #111;
    }
    
    .testimonials .testimonial-item h4 {
        font-size: 14px;
        color: #999;
        margin: 0;
    }
    
    .testimonials .testimonial-item .quote-icon-left,
    .testimonials .testimonial-item .quote-icon-right {
        color: #fecfc0;
        font-size: 26px;
    }
    
    .testimonials .testimonial-item .quote-icon-left {
        display: inline-block;
        left: -5px;
        position: relative;
    }
    
    .testimonials .testimonial-item .quote-icon-right {
        display: inline-block;
        right: -5px;
        position: relative;
        top: 10px;
    }
    
    .testimonials .testimonial-item p {
        font-style: italic;
        margin: 15px 0 0 0;
        padding: 0;
    }
    /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
    
    .contact .info-wrap {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }
    
    .contact .info {
        background: #fff;
    }
    
    .contact .info i {
        font-size: 20px;
        color: #40CAE6;
        float: left;
        width: 44px;
        height: 44px;
        background: #ffeee8;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
    }
    
    .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #2b2320;
    }
    
    .contact .info p {
        padding: 0 0 0 60px;
        margin-bottom: 0;
        font-size: 14px;
        color: #65534c;
    }
    
    .contact .info:hover i {
        background: #40CAE6;
        color: #fff;
    }
    
    .contact .php-email-form {
        width: 100%;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
        padding: 30px;
        background: #fff;
    }
    
    .contact .php-email-form .form-group {
        padding-bottom: 8px;
    }
    
    .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #40CAE6;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .error-message br+br {
        margin-top: 25px;
    }
    
    .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #40CAE6;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }
    
    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #40CAE6;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
    }
    
    .contact .php-email-form input {
        height: 44px;
    }
    
    .contact .php-email-form textarea {
        padding: 10px 12px;
    }
    
    .contact .php-email-form button[type=submit] {
        background: #40CAE6;
        border: 0;
        padding: 10px 24px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
    }
    
    .contact .php-email-form button[type=submit]:hover {
        background: #40CAE6;
    }
    
    @-webkit-keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    @keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
    
    #footer {
        color: #b4aca8;
        font-size: 14px;
        background: #14100f;
    }
    
    #footer .footer-top {
        padding: 60px 0 30px 0;
        background: black;
    }
    
    #footer .footer-top .footer-contact {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-contact h3 {
        font-size: 22px;
        margin: 0 0 10px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
    }
    
    #footer .footer-top .footer-contact p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: 'Cairo', sans-serif;
        color: #b4aca8;
    }
    
    #footer .footer-top h4 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        position: relative;
        padding-bottom: 12px;
    }
    
    #footer .footer-top .footer-links {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #footer .footer-top .footer-links ul i {
        padding-right: 2px;
        color: #7508FF;
        font-size: 18px;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul li {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    
    #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
    }
    
    #footer .footer-top .footer-links ul a {
        color: #b4aca8;
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul a:hover {
        text-decoration: none;
        color: #40CAE6;
    }
    
    #footer .footer-newsletter {
        font-size: 15px;
    }
    
    #footer .footer-newsletter h4 {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        position: relative;
        padding-bottom: 12px;
    }
    
    #footer .footer-newsletter form {
        margin-top: 30px;
        background: #fff;
        padding: 6px 10px;
        position: relative;
        border-radius: 4px 0 0 4px;
        text-align: left;
    }
    
    #footer .footer-newsletter form input[type=email] {
        border: 0;
        padding: 4px 8px;
        width: calc(100% - 100px);
    }
    
    #footer .footer-newsletter form input[type=submit] {
        position: absolute;
        top: 0;
        right: -4px;
        bottom: 0;
        border: 0;
        background: none;
        font-size: 16px;
        padding: 0 20px;
        background: #7508FF;
        color: #fff;
        transition: 0.3s;
        border-radius: 0 4px 4px 0;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    
    #footer .footer-newsletter form input[type=submit]:hover {
        background: #40CAE6;
    }
    
    #footer .credits {
        padding-top: 5px;
        font-size: 13px;
        color: #b4aca8;
    }
    /* oussama */
    
    .carousel-content .carouselouss {
        margin-left: -420px;
    }
    
    .maph1 h2 {
        text-align: center;
        color: black;
        background-color: blueviolet;
        padding: 10px;
        width: 500px;
        margin: 10px auto;
        border-radius: 40px;
    }
    
    .info-wrap a {
        color: black;
    }
    
    .info-wrap .info:hover {
        transform: scale(1.1, 1.1);
    }
    
    .info-wrap .ammar:hover {
        transform: scale(1.1, 1.1);
    }
    /* =================video======= */
    
    .videomotion {
        width: 80%;
        margin: 10px auto;
    }
    
    .secvideomotion {
        background-image: url(../img/expotale/background.jpg);
        background-attachment: fixed;
        background-repeat: repeat;
    }
    
    .videomotion {
        width: 70%;
    }
    
    .videomotion video {
        width: 100%;
        align-items: center;
        margin-top: 30px;
    }
    /* ================= endvideo======= */
    /* media querie */
    
    @media only screen and (min-width: 0px) and (max-width:1024px) {
        #hero .carousel-content {
            display: none;
        }
    }
    
    @media only screen and (min-width: 0px) and (max-width:600px) {
        #hero .carousel,
        #hero .carousel-inner,
        #hero .carousel-item,
        #hero .carousel-item::before {
            background-size: contain;
            margin-top: -148px;
        }
        #hero .carousel-container {
            margin-bottom: -398px;
            bottom: 466px;
        }
        .cta {
            margin: -414px 9px 18px 3px;
        }
    }
    
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        #hero .carousel,
        #hero .carousel-inner,
        #hero .carousel-item,
        #hero .carousel-item::before {
            background-size: contain;
            margin-top: -128px;
        }
        #hero .carousel-container {
            margin-bottom: -398px;
            bottom: 466px;
        }
        .cta {
            margin: -300px 9px 18px 3px;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 995px) {
        #hero .carousel,
        #hero .carousel-inner,
        #hero .carousel-item,
        #hero .carousel-item::before {
            background-size: contain;
            margin-top: -100px;
        }
        .cta {
            margin: -210px 9px 18px 3px;
        }
    }
    
    @media only screen and (min-width: 300px) and (max-width: 1100px) {
        .tagline {
            display: none;
        }
    }
    
    @media (max-width: 768px) {
        .toggle {
            text-align: right;
        }
    }
    
    @media (max-width: 768px) {
        .menu li {
            text-align: right;
        }
    }
    /* /media querie */
    
    .maps-reviews {
        background-color: #00bdd621;
    }
    
    .values {
        background-color: #892be22c;
        width: 80%;
        margin: 10px auto;
        border: 2px solid #892be248;
    }
    
    .valuesdiv1 {
        margin: 1px 10px;
    }
    
    .values h1 {
        margin-top: 1px;
    }
    
    .our-process-card .row .card {
        margin: 10px;
        width: 200px;
    }
    /* social media */
    /* Style the Sticky icons social media on web page */
    
    .stickyicon-list {
        position: fixed;
        top: 69%;
        left: 10px;
        transform: translateY(-50%);
        z-index: 5;
        text-align: center;
        width: 50px;
        opacity: .7;
    }
    
    .stickyicon-list:hover {
        opacity: 1;
    }
    
    .stickyicon-list a {
        display: block;
        padding: 8px;
        transition: all 0.5s ease;
        color: white;
        font-size: 20px;
        margin-top: 10px;
    }
    
    .panel-title a:active {
        color: black;
    }
    
    .panel-title a:hover {
        color: black;
    }
    /* HOver affect on sticky social media icons */
    
    .stickyicon-list a:hover {
        transform: scale(1.3, 1.3);
    }
    /* Now we have to design each icon of social media */
    
    .whatsapp {
        color: white;
        background: #37db21;
        border-radius: 10px;
    }
    
    .phonecall {
        background: rgb(233, 220, 41);
        color: rgb(70, 76, 235);
        border-radius: 10px;
    }
    
    .panel-default>.panel-heading {
        color: #00BED6;
        background-color: #8A1A9B;
        border-color: #ddd;
    }
    /*Client-stylesheets-include-here*/
    
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 7));
        }
    }
    
    .slider {
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: auto;
    }
    
    .slider .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(400px * 14);
    }
    
    .slider .slide {
        height: 100px;
        width: 250px;
    }
    /* login popup */
    /* login */
    
    input[type=text],
    input[type=password] {
        /* width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box; */
    }
    /* Set a style for all buttons */
    
    button {
        background-color: #540c8f8e;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 50%;
    }
    
    button:hover {
        opacity: 0.8;
    }
    /* Extra styles for the cancel button */
    
    .cancelbtn {
        padding: 10px 18px;
        background-color: #2acbe8;
    }
    /* Center the image and position the close button */
    
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
    
    img.avatar {
        width: 40%;
        border-radius: 20%;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: right;
        padding-top: 16px;
    }
    /* The Modal (background) */
    
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        padding-top: 60px;
    }
    /* Modal Content/Box */
    
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }
    /* The Close Button (x) */
    
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    /* Add Zoom Animation */
    
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }
    
    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }
    /* Change styles for span and cancel button on extra small screens */
    
    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 850px) {
        #topbar .logo img {
            width: 52px;
            border-radius: 7px;
            margin: 39px -1px;
            position: absolute;
            margin-left: -46px;
        }
    }
    
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
    }
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    .flip-card-front,
    .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
    
    .flip-card-back {
        background-color: #40CAE6 !important;
        color: white;
        transform: rotateY(180deg);
    }
    
    .flip-card-back h3 {
        margin: 30px;
    }
    
    .container {
        font-family: 'Cairo', sans-serif !important;
    }
    /*     
    .dark-mode {
        background-color: black !important;
        color: white !important;
    } */